.Rproj.user
.Rhistory
.RData
.Ruserdata
*fastq.gz
*fasta.gz
*.fasta
*.fq
Metacarcinus-magister-v1.0.a1.63b722ce105df-repeatmasker.repeats.fna
Metacarcinus-magister-v1.0.a1.63b722ce105df-repeatmasker.repeats.gff3